Repository princekyleaedam/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, npm exec -- prisma format

.lintstagedrc:

{
	"*.{j,t}s{,x}": "npm exec -- eslint --fix",
	"*.vue": "npm exec -- eslint --fix",
	"*.prisma": "npm exec -- prisma format"
}

Tweak wording for non eligible users
  src/routes/discord.ts
Due: npm exec -- eslint --fix

Fix user id in log on linking
  src/discord/bot.ts
Due: npm exec -- eslint --fix

Add Discord user to pixel info
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Fix importing region data
  scripts/setup.ts
Due: npm exec -- eslint --fix

Docs translation support added
  README.md
  translations/en/SETUP_DOCKER.md
  translations/en/SETUP_MACOS.md
  translations/en/SETUP_WINDOWS.md
  translations/fr/INSTALLATION_DOCKER.md
  translations/fr/INSTALLATION_MACOS.md
  translations/fr/INSTALLATION_WINDOWS.md
  translations/fr/LISEZMOI.md
Due: none

Update README.md
  README.md
Due: none

Create id/README.md
  translations/id/README.md
Due: none

Create SETUP_WINDOWS.md
  translations/id/SETUP_WINDOWS.md
Due: none

Create SETUP_DOCKER.md
  translations/id/SETUP_DOCKER.md
Due: none

Create SETUP_MACOS.md
  translations/id/SETUP_MACOS.md
Due: none

Update README.md
  translations/id/README.md
Due: none

Update SETUP_DOCKER.md
  translations/id/SETUP_DOCKER.md
Due: none

Update SETUP_WINDOWS.md
  translations/id/SETUP_WINDOWS.md
Due: none

add verified boolean to user database
  prisma/migrations/20251029144426_user_verified/migration.sql
  prisma/schema.prisma
Due: npm exec -- prisma format

Implement drawing pixels, favorites, pixel info, random pixel
  .eslintrc
  .lintstagedrc
  Caddyfile
  eslint.config.js
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/Icon.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/PaintButton.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/UserMenu.vue
  frontend2/app/composables/useCharges.ts
  frontend2/app/composables/useFavorites.ts
  frontend2/app/composables/usePaint.ts
  frontend2/app/composables/useUserProfile.ts
  frontend2/app/utils/coordinates.ts
  frontend2/eslint.config.js
  frontend2/nuxt.config.ts
  frontend2/package.json
  frontend2/public/icons/map_star.svg
  frontend2/utils/palette.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/routes/leaderboard.ts
  src/services/leaderboard.ts
  src/services/pixel.ts
  src/services/rate-limiter.ts
  src/services/region.ts
  src/services/user.ts
  src/types/index.ts
Due: npm exec -- eslint --fix

Use a closer zoom level for zooming on user request
  frontend2/app/components/App.vue
  frontend2/app/components/Map.vue
  frontend2/app/utils/coordinates.ts
Due: npm exec -- eslint --fix

Downgrade nuxt to avoid bug in 4.2.0
  frontend2/package.json
  pnpm-lock.yaml
Due: none

Add missing icons
  frontend2/public/icons/discord.svg
  frontend2/public/icons/explore.svg
  frontend2/public/icons/favorite_off.svg
  frontend2/public/icons/report.svg
  frontend2/public/icons/zoom_in.svg
  frontend2/public/icons/zoom_out.svg
Due: none

Add verified checkmark to pixel info popup
  frontend2/app/components/PixelInfo.vue
  frontend2/public/icons/favorite_on.svg
  frontend2/public/icons/verified.svg
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Get docker container working for frontend2
  docker-compose.yml
  frontend2/pnpm-lock.yaml
Due: none

Quick hack to get frontend2 working on our server
  src/index.ts
Due: npm exec -- eslint --fix

Oops
  src/index.ts
Due: npm exec -- eslint --fix

Another typo lol
  src/index.ts
Due: npm exec -- eslint --fix

Move bearing reset button to the left
  frontend2/app/components/App.vue
Due: npm exec -- eslint --fix

Fix nuxt devtools
  src/index.ts
Due: npm exec -- eslint --fix

Keep pixel border visible when a pixel is selected
  frontend2/app/components/App.vue
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Attempt to fix mobile viewport height
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Change cursor to crosshair when zoomed close enough
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Make the MaplibreMap always exposed on window.map
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Fix pixel tiles not using the provided backend url
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Fix tile reloading interval
  frontend2/app/components/Map.vue
Due: npm exec -- eslint --fix

Update LISEZMOI.md
  translations/fr/LISEZMOI.md
Due: none

Pause tile reloading when window is out of focus
  frontend2/app/components/Map.vue
  frontend2/app/components/PixelInfo.vue
  scripts/migrate-region-stats.ts
  scripts/update-user-pixels.ts
Due: npm exec -- eslint --fix
