Repository princekyleaedam/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, cd frontend2 && npm exec -- eslint --fix, npm exec -- prisma format

.lintstagedrc:

{
	"{src,scripts}/**/*.{js,ts,jsx,tsx}": "npm exec -- eslint --fix",
	"frontend2/**/*.{js,ts,jsx,tsx,vue}": "cd frontend2 && npm exec -- eslint --fix",
	"*.prisma": "npm exec -- prisma format"
}

Block navigation when pixels pending, update user on window refocus
  frontend2/app/components/App.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/PixelInfo.vue
Due: cd frontend2 && npm exec -- eslint --fix

Fix code style from spaces to tabs
  frontend2/app/app.vue
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/EventFirehose.vue
  frontend2/app/components/Icon.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/PaintButton.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/UserAvatar.vue
  frontend2/app/components/UserMenu.vue
  frontend2/app/components/admin/Footer.vue
  frontend2/app/components/admin/Header.vue
  frontend2/app/layouts/admin.vue
  frontend2/app/layouts/default.vue
  frontend2/app/pages/beta.vue
Due: cd frontend2 && npm exec -- eslint --fix

Remove unused fontawesome, add subtle blur on cards/menus
  frontend2/app/assets/common.scss
  frontend2/app/components/App.vue
  frontend2/package.json
  pnpm-lock.yaml
Due: cd frontend2 && npm exec -- eslint --fix

Fix lint stuff
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/composables/useCharges.ts
Due: cd frontend2 && npm exec -- eslint --fix

Match palette paint button with the map paint button
  frontend2/app/components/ColorPalette.vue
Due: cd frontend2 && npm exec -- eslint --fix

Make eraser button work
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
Due: cd frontend2 && npm exec -- eslint --fix

Bold paint button text
  frontend2/app/components/PaintButton.vue
Due: cd frontend2 && npm exec -- eslint --fix

Convert tile pngs to indexed color when committing them
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/redraw-tiles.ts
  src/routes/auth.ts
  src/routes/pixel.ts
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Fix quantizing a bit too much
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Seems to not do what we want, just go back to imagemin for now
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/redraw-tiles.ts
  src/services/pixel.ts
Due: npm exec -- eslint --fix

minor typo on account deletion
  src/services/user.ts
Due: npm exec -- eslint --fix

Improved comments on port number and cooldown
  .env.example
Due: none

Added comment for JWT secret key for info.
  .env.example
Due: none

reclarify jwt secret as it was incorrect.
  .env.example
Due: none

Added translation guidelines
  README.md
  translations/de/LIESMICH.md
  translations/fr/LISEZMOI.md
  translations/id/README.md
Due: none
