Repository princekyleaedam/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, cd frontend2 && npm exec -- eslint --fix, npm exec -- prisma format

Blue Marble layout fixes
  frontend2/app/components/App.vue
Due: cd frontend2 && npm exec -- eslint --fix

Update README.md
  README.md
Due: none

Update LISEZMOI.md
  translations/fr/LISEZMOI.md
Due: none

Fix duplicate UserRegionStats when user has no alliance
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Fix type on extraColorsBitmap
  frontend2/app/components/ColorPalette.vue
  frontend2/app/composables/useUserProfile.ts
  frontend2/utils/palette.ts
Due: cd frontend2 && npm exec -- eslint --fix

Use LngLat rather than LatLng to be consistent with maplibre
  frontend2/app/components/App.vue
  frontend2/app/components/Map.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/utils/coordinates.ts
Due: cd frontend2 && npm exec -- eslint --fix

Try ArcGIS as a satellite source
  frontend2/app/components/Map.vue
Due: cd frontend2 && npm exec -- eslint --fix

Fix verified type
  frontend2/app/components/PixelInfo.vue
Due: cd frontend2 && npm exec -- eslint --fix

Undo bits of Caddyfile that weren’t meant to be committed
  Caddyfile
Due: none

Better initial location
  frontend2/app/components/Map.vue
Due: cd frontend2 && npm exec -- eslint --fix

Tooltip for palette buttons
  frontend2/app/components/ColorPalette.vue
Due: cd frontend2 && npm exec -- eslint --fix

Fix tiles not appearing until first refresh
  frontend2/app/components/Map.vue
Due: cd frontend2 && npm exec -- eslint --fix

Update some leftover lines on README.md
  README.md
Due: none

Add border around pending pixels
  frontend2/app/components/Map.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/utils/coordinates.ts
Due: cd frontend2 && npm exec -- eslint --fix

Try Google satellite imagery
  frontend2/app/components/Map.vue
Due: cd frontend2 && npm exec -- eslint --fix

Add German translations
  README.md
  translations/de/LIESMICH.md
  translations/de/SETUP_DOCKER.md
  translations/de/SETUP_MACOS.md
  translations/de/SETUP_WINDOWS.md
Due: none

idk if this will work
  frontend2/app/components/App.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/UserMenu.vue
  src/services/user.ts
Due: npm exec -- eslint --fix, cd frontend2 && npm exec -- eslint --fix

i thiiink this is right
  frontend2/app/components/PixelInfo.vue
Due: cd frontend2 && npm exec -- eslint --fix

shit revert that
  frontend2/app/components/PixelInfo.vue
Due: cd frontend2 && npm exec -- eslint --fix

okay this should be good
  frontend2/app/components/PixelInfo.vue
Due: cd frontend2 && npm exec -- eslint --fix

add verified bool to user profile. this should add the checkmark for the user menu
  frontend2/app/components/UserMenu.vue
Due: cd frontend2 && npm exec -- eslint --fix

tooltip alert on eraser not working currently
  frontend2/app/components/ColorPalette.vue
Due: cd frontend2 && npm exec -- eslint --fix

Added checkbox for going to openplace beta
  src/public/login.html
Due: none

changed position of checkbox
  src/public/login.html
Due: none

added variable in .env for showing checkbox
  .env.example
Due: none

changed 0 to false
  .env.example
Due: none

Update .env.example
  .env.example
Due: none

Prefer ?? for null coalescing
  frontend2/app/components/App.vue
  src/public/discord-unlink.html
  src/public/login.html
  src/routes/leaderboard.ts
  src/routes/me.ts
  src/routes/moderator.ts
  src/routes/store.ts
  src/services/leaderboard.ts
  src/services/pixel.ts
  src/services/user.ts
  src/utils/bitmap.ts
  src/utils/unique-name.ts
Due: npm exec -- eslint --fix, cd frontend2 && npm exec -- eslint --fix

Add password reset feature
  .env.example
  prisma/migrations/20251030053156_password_reset_tokens/migration.sql
  prisma/schema.prisma
  src/discord/bot.ts
  src/public/account.css
  src/public/login.html
  src/routes/auth.ts
  src/services/auth.ts
  src/services/pixel.ts
Due: npm exec -- eslint --fix, npm exec -- prisma format

switch up wording and formatting on reset bot
  package-lock.json
  src/routes/auth.ts
Due: npm exec -- eslint --fix

discord suggestion for registration
  src/public/account.css
  src/public/login-nextstep.html
  src/public/login.html
  src/routes/auth.ts
  src/routes/discord.ts
Due: npm exec -- eslint --fix

add /checkrobots
  src/index.ts
  src/routes/checkrobots.ts
Due: npm exec -- eslint --fix

Add rate limit toggle
  .env.example
Due: none

Add rate limit toggle
  src/services/rate-limiter.ts
Due: npm exec -- eslint --fix

fix paint race condition and retry region stats sync
  src/services/pixel.ts
Due: npm exec -- eslint --fix

add rate limiting for pixel painting
  src/routes/pixel.ts
Due: npm exec -- eslint --fix

fix warmup memory leak
  src/services/leaderboard.ts
Due: npm exec -- eslint --fix

drop indexes pixel
  prisma/schema.prisma
Due: npm exec -- prisma format

drop indexes pixel
  prisma/migrations/20251102041731_drop_indexes_pixel/migration.sql
Due: none

Path conditions:
  npm exec -- eslint --fix: any of: {src,scripts}/**/*.{js,ts,jsx,tsx}
  cd frontend2 && npm exec -- eslint --fix: any of: frontend2/**/*.{js,ts,jsx,tsx,vue}
  npm exec -- prisma format: any of: *.prisma
